body {
  overflow-x: hidden;
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 576px) {
  body {
    background-size: auto;
  }
}
@media (min-width: 576px) and (max-width: 1289px) {
  body {
    background-size: auto;
  }
}

@font-face {
  font-family: CounterStreamDemo;
  src: url("../fonts/CounterStreamDemo-z8M2G.ttf");
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #923cd5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mt-10 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 100px;
}

.text-special {
  font-family: "CounterStreamDemo";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 111px;
  background: linear-gradient(265.3deg, #b069ff 5.74%, #00d8de 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media (max-width: 576px) {
  .text-special {
    display: block;
  }
}

.text-special-no-color {
  font-family: "CounterStreamDemo";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 64px;
  color: #ffffff;
}

.text-special-end {
  font-family: "CounterStreamDemo";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 64px;
  background: linear-gradient(265.3deg, #b069ff 5.74%, #00d8de 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-end-section {
  font-family: "CounterStreamDemo";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 64px;
  color: #ffffff;
}

#hero-section .main-logo {
  max-width: 265px;
}
#hero-section #navbarNavDropdown {
  justify-content: end;
}
#hero-section #navbarNavDropdown .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-section #navbarNavDropdown .nav-item .nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px !important;
  line-height: 32px;
  color: white;
  padding: 5px 17px;
}
#hero-section #navbarNavDropdown .nav-item .nav-link-end {
  padding-right: 0px !important;
}
#hero-section #navbarNavDropdown .btn-connect {
  background: linear-gradient(265.39deg, #bb55eb 1.22%, #28c1e5 99.16%);
  border-radius: 10px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  border: none;
  outline: none;
  padding: 5px 10px;
  height: 80px;
  width: 260px;
}
#hero-section .content-section {
  text-align: center;
  padding-top: 120px;
  position: relative;
  z-index: 9;
}
#hero-section .content-section .wrap-cloud {
  position: relative;
}
#hero-section .content-section .wrap-cloud .hero-cloud-left {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}
@media (max-width: 576px) {
  #hero-section .content-section .wrap-cloud .hero-cloud-left {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 1289px) {
  #hero-section .content-section .wrap-cloud .hero-cloud-left {
    max-width: 200px;
  }
}
#hero-section .content-section .wrap-cloud .hero-cloud-right {
  position: absolute;
  top: 90%;
  right: -10%;
  max-width: 500px;
}
@media (max-width: 576px) {
  #hero-section .content-section .wrap-cloud .hero-cloud-right {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 1289px) {
  #hero-section .content-section .wrap-cloud .hero-cloud-right {
    max-width: 200px;
  }
}
#hero-section .content-section .learn-more-first {
  padding-top: 30px !important;
}
#hero-section .content-section .title-hero-section {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 98px;
}
@media (max-width: 576px) {
  #hero-section .content-section .title-hero-section {
    font-size: 55px;
  }
}
#hero-section .content-section .img-hero {
  max-width: 950px;
}
@media (max-width: 576px) {
  #hero-section .content-section .img-hero {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 1289px) {
  #hero-section .content-section .img-hero {
    max-width: 100%;
  }
}
#hero-section .content-section .descripttion-hero-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px !important;
  line-height: 49px;
  color: white;
}
#hero-section .content-section .content-function {
  position: relative;
}
#hero-section .content-section .content-function .vr .custom-tablet-margin .custom-tablet-margin-tittle {
  color: white !important;
}
#hero-section .content-section .content-function .one-realistic {
  margin-bottom: 60px;
}
#hero-section .content-section .content-function .one-realistic h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: white;
}
@media (max-width: 576px) {
  #hero-section .content-section .content-function .one-realistic h1 {
    margin-bottom: 25px;
  }
}
@media (min-width: 576px) and (max-width: 1289px) {
  #hero-section .content-section .content-function .one-realistic h1 {
    min-height: 80px;
  }
}
#hero-section .content-section .content-function .one-realistic img {
  border-radius: 10px;
  box-shadow: 12px 15px rgba(145, 139, 139, 0.4784313725);
  max-width: 100%;
}
@media (max-width: 576px) {
  #hero-section .content-section .content-function .one-realistic img {
    max-width: 100%;
    box-shadow: 4px 6px rgba(145, 139, 139, 0.48);
  }
}
#hero-section .content-section .content-function .one-function {
  width: 60%;
  text-align: left;
  padding: 20px;
  border: 3px solid white;
  background: #44a5db;
  border-radius: 15px;
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  #hero-section .content-section .content-function .one-function {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 1289px) {
  #hero-section .content-section .content-function .one-function {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
}
#hero-section .content-section .content-function .one-function h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: white;
}
#hero-section .content-section .content-function .one-function p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
#hero-section .content-section .content-function .one-function.right {
  margin-left: auto;
}
#hero-section .content-section .title-hero-section-bring {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: #ffffff;
}
@media (max-width: 576px) {
  #hero-section .content-section .one-learn-function {
    margin-bottom: 50px;
  }
}
#hero-section .content-section .one-learn-function h1 {
  font-family: "CounterStreamDemo";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  min-height: 70px;
  color: #ffffff;
}
#hero-section .content-section .one-learn-function p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  height: 180px;
}
#hero-section .content-section .one-learn-function .btn-learnmore {
  background: linear-gradient(263.12deg, #b069ff 6.84%, #00d8de 99.28%);
  border-radius: 10px;
  padding: 10px 35px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  border: none;
  outline: none;
}

#end-section {
  min-height: 100vh;
  padding-bottom: 200px;
  padding-top: 400px;
}
@media (min-width: 576px) and (max-width: 1289px) {
  #end-section {
    padding-bottom: 0px;
  }
}
@media (max-width: 576px) {
  #end-section {
    background-size: auto;
  }
}
#end-section .end-cloud-left {
  position: absolute;
  bottom: 90px;
  left: 10px;
  transform: translate(-50%, -50%);
  max-width: 500px;
}
@media (max-width: 576px) {
  #end-section .end-cloud-left {
    display: none;
  }
}
#end-section .end-cloud-right {
  position: absolute;
  bottom: 200px;
  right: 0%;
  max-width: 500px;
}
@media (max-width: 576px) {
  #end-section .end-cloud-right {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 1289px) {
  #end-section .end-cloud-right {
    max-width: 300px;
  }
}
#end-section .content-end-section {
  position: relative;
  z-index: 9;
  text-align: center;
}
#end-section .content-end-section .title-end-section {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 77px;
  line-height: 94px;
  color: #ffffff;
}
#end-section .content-end-section .img-end {
  max-width: 1000px;
  margin-top: 100px;
}
@media (max-width: 576px) {
  #end-section .content-end-section .img-end {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 1289px) {
  #end-section .content-end-section .img-end {
    max-width: 100%;
  }
}/*# sourceMappingURL=index.css.map */